:root {
	--background: #fafbfc;
	--header: #222233;
	--text: #222222;
	--text-secondary: #808080;
	--text-disabled: #808080;
	--panel-back: #f3f6f9;
	--code-back: #e3e6e9;
	--border-radius: 0.4rem;
	--border-color: #efefef;
	--link: #0066cc;
}

html {
	font-family: ui-sans-serif, sans-serif;
}

body {
	color: var(--text);
	background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--header);
	font-family: ui-serif, serif;
	font-weight: 400;
}

h1 {
	font-size: 3.6rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2.5rem;
}

h4 {
	font-size: 2.1rem;
}

h5 {
	font-size: 1.8rem;
}

h6 {
	font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-block-start: 2rem;
	margin-block-end: 0.5rem;
}

p {
	margin-block-start: 1rem;
	margin-block-end: 1rem;
}

hr {
	background-color: rgba(0, 0, 0, 0.1);
	border: none;
	height: 1px;
	margin: 1rem 0;
	width: 100%;
}

a,
a:visited {
	color: var(--link);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul.plain,
ol.plain {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

pre,
code {
	background: var(--panel-back);
	border-radius: 0.5rem;
	font-size: 1.3rem;
	line-height: 1.5;
	white-space: nowrap;
	white-space-collapse: preserve;
}

pre {
	padding: 1rem;
	text-align: start;
	tab-size: 4;

	code {
		background: inherit;
		padding: 0;
	}
}

code {
	background: var(--code-back);
	padding: 0.5rem;
}

textarea.code {
	border-radius: 0.5rem;
	font-family: monospace;
	font-size: 1.3rem;
	line-height: 1.5;
	padding: 0.5rem;
	tab-size: 4;
	white-space: nowrap;
	white-space-collapse: preserve;
}

/* Layout */

.hstack,
.vstack {
	display: flex;

	.grow {
		flex-grow: 1;
	}

	.no-shrink {
		flex-shrink: 0;
	}
}

.hstack {
	flex-direction: row;
}

.vstack {
	flex-direction: column;
}

.hstack.centered,
.vstack.centered {
	align-items: center;
}

.vstack.align-start {
	align-items: start;
}

.vstack.align-end {
	align-items: end;
}

.hstack.spaced,
.vstack.spaced {
	gap: 1rem;
}

.hstack.spaced-nr,
.vstack.spaced-nr {
	gap: 0.6rem;
}

.hstack.equal,
.vstack.equal {
	* {
		flex: 1 1 0;
	}
}

.hstack.collapse {
	flex-direction: column;
}

.vstack.collapse {
	flex-direction: row;
}

@media screen and (min-width: 768px) {
	.hstack.collapse {
		flex-direction: row;
	}

	.vstack.collapse {
		flex-direction: column;
	}
}

.zstack {
	display: flex;
	align-items: center;
	justify-content: center;

	* {
		position: absolute;
	}
}

.spacer {
	flex: 1 1 0;
}

.full-width {
	min-width: 100%;
}

.show-md {
	display: none;
}

@media screen and (min-width: 768px) {
	.show-md {
		display: inherit;
	}

	.hide-md {
		display: none;
	}
}

/* Tables */

table {
	border-spacing: 0;
	text-align: start;
}

th,
td {
	border-bottom: 1px solid lightgray;
	padding: 0.5rem 0.5rem 0.5rem 0;
}

/* Forms */

form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.form-row {
	* {
		width: 100%;
	}

	input[type="checkbox"],
	input[type="checkbox"] + label {
		display: inline;
		width: inherit;
	}
}

.form-footer {
	text-align: end;
}

label {
	display: block;
	color: var(--text-secondary);
}

textarea,
input {
	border: 1px solid lightgray;
	border-radius: var(--border-radius);
	padding: 0.2rem 0.6rem;
}

select {
	padding: 0.4rem 0.6rem;
}

button {
	min-width: 7.5rem;
	padding: 0 1rem;
}

button.link {
	background: none;
	border: none;
	min-width: auto;
	padding: 0;
	color: var(--link);
	cursor: pointer;
}

button.link:enabled:hover {
	text-decoration: underline;
}

button.link:disabled {
	color: var(--text-disabled) !important;
}

button.link.icon,
a.icon {
	min-width: 2.4rem;
	min-height: 2.4rem;
	padding: 0.4rem;
	border-radius: var(--border-radius);
}

button.link.icon:enabled:hover,
a.icon:hover {
	background: #f0f2f6;
}

/* Subnav menus */

.subnav-menu {
	align-items: baseline;
}

.subnav-link {
	display: inline-flex;
	justify-content: center;
	user-select: none;
	white-space: nowrap;
	padding: 1rem;
}

.subnav-button {
	all: unset;
	color: var(--link);
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	user-select: none;
	white-space: nowrap;
	padding: 1rem;
}

.subnav-link:hover,
.subnav-button:hover {
	background: #f0f2f6;
	text-decoration: none;
}

/* Misc */

.warning {
	border: 1px solid red;
	border-radius: var(--border-radius);
	background-color: #fbe6e5;
	padding: 0.5rem 1rem;
}

.card {
	padding: 1rem;
	background-color: #fff;
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	box-shadow: 0 0.2rem 0.4rem #eee;
}

.separator::after {
	color: #808080;
	content: "·";
}

.menu-separator::after {
	color: #808080;
	content: "•";
}

.font-sm {
	font-size: 1.45rem;
	line-height: 1.4;
}

.secondary {
	color: var(--text-secondary);
}
